/**
HTML OVERRIDES
**/
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/**
BOOTSTRAP OVERRIDES
**/
.row{
    border: 1px solid #ccc;
    border-radius: 1em;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 1em;
}

/**
CUSTOM CLASSES
**/

/**
ID's
**/
#resultHolder{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    min-height: 200vh;
}